.cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-50%, -50%);
  transition: background 0.2s, filter 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 8px #954ce9) drop-shadow(0 0 16px #4cc9f0);
  opacity: 1 !important;
}

:global(html), :global(body), :global(#__next), :global(main), :global(*) {
  cursor: none !important;
}
